html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin: 0;
    background-color: rgb(255 255 255);
}

* {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -transition: all 0.2s;
}

:root {
    --header-color: #261836;
    --filter-tasks-bg-color: rgb(255 255 255);
    --filter-tasks-font-color: rgb(0, 0, 0);
    --add-task-button-color: rgb(255, 255, 255);
    --add-button-font-color: rgb(0, 0, 0);
    --task-bg-color: rgb(129 100 166);
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-slab-light {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    font-style: normal;
}

.wrapper {
    display: grid;
    grid-template-rows: 10vh 90vh;
    max-width: 1728px;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: var(--header-color);
}

#logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vmax;
    color: rgb(255, 255, 255);
}

.manage-tasks {
    display: grid;
    grid-template-columns: 25% 75%;
    justify-content: center;
}

#filter-tasks-by-status {
    display: flex;
    flex-direction: column;
    background-color: var(--filter-tasks-bg-color);
    padding: 6%;
}

#filter-tasks-by-status a {
    display: flex;
    padding: 3%;
    font-size: 1vmax;
    background-color: #ffffff;
    color: var(--filter-tasks-font-color);
    text-decoration: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    margin: 3%;
    border-radius: 10px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.container-no-tasks {
    background-color: var(--filter-tasks-bg-color);
    padding: 6%;
}

.container-with-tasks {
    display: grid;
    grid-template-rows: 90% 10%;
    align-items: baseline;
}

.container-input-with-a-status-circle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 8px;
    background-color: var(--add-task-button-color);
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    align-items: center;
}

#add-task-input {
    width: 100%;
    height: auto;
    border: none;   
    font-size: 1.1vmax;
    background-color: transparent;
    color: var(--add-button-font-color);
}

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    font-size: 1vmax;
}

.popup-buttons-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 auto;
}

.popup-buttons-container button {
    background-color: rgb(129 100 166);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 5px 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    font-size: 0.9vmax;

    &:hover {
        background-color: rgb(95, 69, 128);
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

textarea:focus, input:focus {
    outline: none;
}

#status-circle {
    font-weight: 700;
    max-width: 100%;
    height: auto;
    margin-right: 2%;
}

.status-circle-done {
    color: rgb(3, 255, 3);
}

.status-circle-incorrect-input {
    color: rgb(255, 0, 0);
}

.status-circle-no-changes {
    color: rgb(255, 128, 0);
}

.task {
    font-size: 1.1vmax;
    padding: 1.5%;
    margin: 1%;
    background-color: var(--task-bg-color);
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    list-style-type: none;
}